<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Records Shop test</title>
</head>

<body>
    <h1>Records Shop</h1>
    <div id="app">
        <h2>Get All etc (GET)</h2>
        <button id="getAllButton" v-on:click="getAllRecords" class="btn btn-primary">Get all Records</button>
        <br />
        <ul id="Recordslist" v-if="Records.length">
            <li v-for="Record in Records">
                Id: {{Record.id}} | Title: {{Record.title}} | ArtistName: {{Record.artistName }} 
            </li>
        </ul>
        <div v-else>No Records</div>

        <h2>Get by ID (GET)</h2>
        <input id="GetByIdInput" v-model="idToGetBy" placeholder="id" type="number" />
        <button id="GetByIdButton" v-on:click="getById(idToGetBy)" class="btn btn-primary">Get by id</button>
        <div v-if="singleRecords">
            Id: {{singleRecords.id}} | Title: {{singleRecords.title}} | ArtistName: {{ singleRecords.artistName}}
        </div>
        <div v-else>No such Records</div>

        <h2>Search by name or title</h2>
        <input id="SearchInput" v-model="TitleOrNameSearch" placeholder="TitleOrName"/>
        <button id="SearchButton" v-on:click="getByNameOrTitle(TitleOrNameSearch)" class="btn btn-primary">Search by name or title</button>
        <div v-if="searchedResult">
            <li v-for="Record in searchedResult">
                Id: {{Record.id}} | Title: {{Record.title}} | ArtistName: {{Record.artistName }} 
            </li>
        </div>
        <div v-else>No such Records</div>

        <h2>Delete (DELETE)</h2>
        <input id="DeleteInput" v-model.number="deleteId" placeholder="id" type="number" />
        <button id="DeleteButton" v-on:click="deleteRecords(deleteId)" class="btn btn-warning">Delete</button>
        {{deleteMessage}}

        <h2>Add (POST)</h2>
        <input id="AddNameInput" v-model="addData.artistName" placeholder="artistName" type="text" />
        <input id="AddTitleInput" v-model="addData.Title" placeholder="Title" type="text" />
        <button id="AddButton" v-on:click="addRecords()" class="btn btn-success">Add</button>
        <div>{{addMessage}}</div>

        <h2>Update (PUT)</h2>
        <input id="UpdateIdInput" v-model.number="updateData.id" placeholder="id" type="number" />
        <input id="UpdateNameInput" v-model="updateData.artistName" placeholder="artistName" type="text" />
        <input id="UpdateTitleInput" v-model="updateData.Title" placeholder="Title" type="text" />
        <button id="UpdateButton" v-on:click="updateRecords()" class="btn btn-success">Update</button>
        <div>{{updateMessage}}</div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>